syntax:glob
.#*
*.log
*.swp
*.swo
*~
*.pyc
*.html~
*.js~
media/
.ropeproject
.vscode
build

#allowing tracking of waterdata temporarily
data/nginx
data/dev/*
!data/dev/2018-03/
data/dev/2018-03/*
!data/dev/2018-03/waterdata/


*.tags
*.tags1
.env_local
